<h1 class="ms-4 pt-4">Login</h1>

<%= form_with url: "/sessions" do |form| %>
  
  <div class="ms-4 pt-4">
    <%= form.label "username" %>
    <%= form.text_field "username" %>
  </div>

  <div class="ms-4 pt-4">
    <%= form.label "password" %>
    <%= form.password_field "password" %>
  </div>

  <div class="ms-4 pt-4">
    <%= form.submit "Login", class: "btn btn-primary" %>
  </div>
<% end %>