<h1 class="ms-4 pt-2">New User Account</h1>

<%= form_with model: @user do |form| %>
  <div class="ms-4 pt-3">
    <%= form.label "username" %>
    <%= form.text_field "username" %>
  </div>
  <div class="ms-4 pt-3">
    <%= form.label "email" %>
    <%= form.text_field "email" %>
  </div>
  <div class="ms-4 pt-3">
    <%= form.label "password" %>
    <%= form.password_field "password" %>
  </div>
<div class="ms-4 pt-4">
    <%= form.submit "Sign Up", class: "btn btn-primary" %>
  </div>
<% end %>